SECRET_KEY=django-insecure-cambia-esto
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Si quieres PostgreSQL en vez de SQLite, completa esto y descomenta la sección en settings.py
DB_NAME=sistema_preventa
DB_USER=postgres
DB_PASSWORD=Guilder6494
DB_HOST=localhost
DB_PORT=5434
JWT_SECRET=superclave123
